BETTER_AUTH_SECRET="563b5c9cb21c2b4449265dbecfb304cc28977769909f142fb492c11eb86972ca"
BETTER_AUTH_URL="http://localhost:3000"
DATABASE_URL="postgresql://nurture:nurture@localhost:5433/nurture_me?schema=public"
REDIS_URL="redis://localhost:6379"
